<!--This Code Is Property Of Hunter Larco And Is An Illegal Copy When Void Of This Notice-->
<!DOCTYPE>
<html>
<head>
<style type="text/css">
a{color:rgb(50,140,255);text-decoration:none;}
a:hover{text-decoration:underline;}
</style>
<meta charset="UTF-8" NAME="Author" CONTENT="Hunter Larco" />
<title>403 Forbidden</title>
</head>
<body>
<h1>Error 403 Forbidden</h1>
<p>You don't have sufficient permission to access this database. To login again click <a href='{{logout}}'>here.</a></p>
</body>
</html>